@import url(../Coin/Coin.css);

.Coins {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

@media (max-width: 780px) {
  .Coins {
    flex-direction: column;
  }

  #partition {
    scale: 0.6;
  }

  .coins {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 530px) {
  .coins {
    flex-direction: column;
  }
}
