.main {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 64vw;
  position: relative;
  top: 8vh;

  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.main:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

@media (max-width: 530px) {
  .main {
    top: 50px;
    position: relative;
  }
}
