.main {
  border-radius: 3%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70vw;
  height: 200px;
}
