header {
  position: absolute;
  top: 9vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #1e3a5f;
}

header h1 {
  font-size: xx-large;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header p {
  font-size: x-large;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 780px) {
  header h1 {
    font-size: x-large;
  }

  header p {
    font-size: large;
  }
}

@media (max-width: 530px) {
  header {
    top: 5vh;
  }
}
