@import url(./reset.css);
@import url(./components/Header/Header.css);
@import url(./components/Main/Main.css);
@import url(./components/Button/Button.css);
@import url(./components/Coins/Coins.css);

#root {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover; /* cobre toda a tela */
  background-position: center center;
  background-attachment: fixed; /* opcional: dá aquele efeito de "parallax" */
}
