@import url(./reset.css);
@import url(./components/Header/Header.css);
@import url(./components/Main/Main.css);
@import url(./components/Coins/Coin.css);

#root {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 202, 214, 0.13);
}
